<mat-card class="mat-toolbar__ bg-grafit">
    <form class="example-form">
        <mat-form-field class="full-width__" appearance="fill">
            <mat-label class="cl-white">Pesquisar aqui</mat-label>
            <input matInput class="full-input__" value="Google">
        </mat-form-field>

        <mat-form-field class="full-width__" appearance="fill">
            <mat-label class="cl-white">Genêro</mat-label>
            <mat-select>
                <mat-option>Selecione a opção</mat-option>
                <!-- <mat-option *ngFor="let food of foods" [value]="food.value">
                    {{food.viewValue}}
                </mat-option> -->
            </mat-select>
        </mat-form-field>


    </form>

</mat-card>

<div class="col-card-filmes">
    <mat-card class="mat-card__ bg-grafit" *ngFor="let filme of filmes" >
        <mat-card-header class="mat-card-header__">
            <mat-card-title>{{ filme.titulo }}</mat-card-title>
            <mat-card-subtitle class="cl-white">{{ filme.genero }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="filme.urlFoto" [alt]="filme.titulo">
        <mat-card-content>
            <p>
                {{ filme.descricao }}
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button class="bg-orange cl-white btn-list-card">Entrar</button>
        </mat-card-actions>
    </mat-card>

    

</div>