<mat-card class="mat-toolbar__ bg-grafit">
    <form [formGroup]="filtrosListagem" class="form__">
        <mat-form-field class="full__" appearance="fill">
            <mat-label class="cl-white">Pesquisar aqui</mat-label>
            <input matInput class="full-input__" formControlName="titulo">
        </mat-form-field>
    </form>
</mat-card>

<div class="col-card-filmes">
    <mat-toolbar class="mat-toolbar-button__">
        <button *ngIf="!btnPrevDisabled" mat-button class="button-prev" (click)="prevPage()">
            <span class="material-icons cl-icon prev__">keyboard_arrow_left</span>
        </button>
        <button *ngIf="!btnNextDisabled" mat-button class="button-next" (display)="btnNextDisabled"
            (click)="nextPage()">
            <i class="material-icons cl-icon next__">keyboard_arrow_right</i>
        </button>
    </mat-toolbar>

    <mat-card class="mat-card__ bg-grafit" *ngFor="let filme of filmes">
        <mat-card-header class="mat-card-header__">
            <mat-card-title>{{ filme.titulo }}</mat-card-title>
            <mat-card-subtitle class="cl-white">Genero: {{ filme.genero }}</mat-card-subtitle>
            <mat-card-subtitle class="cl-white">Publicação: {{ filme.date | date:'dd/MM/yyyy' }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="filme.urlFoto" [alt]="filme.titulo">
        <mat-card-content>
            <p>
                {{ filme.descricao }}
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button class="bg-orange cl-white btn-list-card">Entrar</button>
        </mat-card-actions>
    </mat-card>
    <mat-toolbar class="mat-toolbar-vazio" *ngIf="filmes?.length === 0 && loading == false">
        <i class="material-icons file-icon__">image</i>
        <h1 class="msg__">Sua pesquisa não foi encontrada</h1>
    </mat-toolbar>
    <mat-toolbar class="loading__" *ngIf="loading">
        <mat-spinner></mat-spinner>
    </mat-toolbar>
</div>